* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
}

.nav-bar {
  width: 900px;
  padding: 12px 16px;
  margin: 24px auto 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  animation-name: nav-bar-appear;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
}

.nav-icon {
  display: block;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-links a {
  color: #353535;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px;
}

.nav-links a:hover {
  color: black;
}

@keyframes nav-bar-appear {
  from {
    transform: translateY(-200px) translateX(-50%);
  }
  to {
    transform: translateY(0px) translateX(-50%);
  }
}

.section-content {
  max-width: 900px;
  margin: auto;
}

.headline {
  font-size: 48px;
}

.italic {
  font-style: italic;
}

h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

h3 {
  font-size: 20px;
  margin-bottom: 16px;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 6rem 0;
}

section#hero {
  padding: 12rem 0;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
}

.project-card-text {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card p {
  margin-bottom: 16px;
}

p {
  line-height: 150%;
}

p.big {
  font-size: 24px;
}

.button-row {
  display: flex;
  gap: 12px;
}

.btn {
  font-size: 16px;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 12px 24px;
  display: block;
  width: fit-content;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #353535;
}

.btn.full-width {
  width: 100%;
}

ul {
  list-style-type: none;
}

section#contact .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

section#contact p {
  width: 80%;
  margin: 20px 0;
}

.contact-links li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.contact-links a {
  color: black;
}

.contact-links a:hover {
  color: #353535;
}

section#contact form li {
  margin-bottom: 16px;
}

label {
  font-size: 16px;
  display: block;
  width: fit-content;
  margin-bottom: 4px;
}

input, textarea {
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 16px;
  border: solid 1px #D1D1D1;
  border-radius: 8px;
  display: block;
  width: 100%;
}

textarea {
  resize: none;
  height: 102px;
}

footer {
  color: #A4A4A4;
  background-color: black;
  padding: 46px 16px;
}

footer .content {
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin-bottom: 16px;
}