
.mb-1 {
  margin-bottom: 1rem;
}

.mb-1_5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}



.spaced {
  justify-content: space-between;
}

.aligned {
  align-items: center;
}

.gap-0_5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1_5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-4 {
  gap: 4rem;
}

@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  section {
    padding: 8rem 1rem 0
  }

  section > .content {
    width: 100%;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}


body.dark {
  background-color: var(--color-950);
}

.dark h1, .dark h2, .dark h3 {
  color: var(--color-50);
}

.dark p {
  color: var(--color-350);
}

.dark a {
  color: var(--color-100);
}

.dark a:hover, .dark textarea::placeholder, .dark input::placeholder {
  color: var(--color-350);
}



.dark textarea, .dark input[type="text"], .dark input[type="email"] {
  color: var(--color-50);
  background-color: var(--color-900);
}

.dark textarea:focus, .dark input[type="text"]:focus, .dark input[type="email"]:focus {
  outline: solid 0.15rem var(--color-350)
}