@import 'default.css';
  
.Footer {
  background-color: var(--color-900);
  overflow: hidden;
  position: relative;
  padding: 6rem 1rem;
}

.Footer img {
  position: absolute;
  width: 16rem;
  height: 16rem;
  bottom: 0;
  left: 15%;
  opacity: 0.25;
  transform: rotate(15deg);
}

.Footer .text {
  grid-column-start: 2;
  position: relative;
  z-index: 5;
}

@media (max-width: 800px) {
  .Footer img {
    left: initial;
    right: 15%;
  }
      
  .Footer .text {
    grid-column-start: 1;
  }
}
