.ThemeToggle {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: hidden;
}

.ThemeToggle input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  appearance: none;
}

.ThemeToggle .icons {
  gap: 0.25rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: transform 0.3s ease-in-out;
}

.ThemeToggle img {
  padding: 0.15rem;
  transition: transform 0.3s ease-in-out;
}

.dark .ThemeToggle .icons {
  transform: translateY(-50%);
}

.dark .ThemeToggle img[alt="sun"] {
  transform: scale(0.9) rotate(45deg);
}

.ThemeToggle img[alt="moon"] {
  transform: scale(0.9) rotate(-45deg);
}

.dark .ThemeToggle img[alt="moon"] {
  transform: rotate(0);
}

.ThemeToggle input:focus {
  outline: solid 2px white;
}