.ProjectCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;
}

.ProjectCard img {
  width: 100%;
}

.ProjectCard .text-wrapper {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ProjectCard .desc {
  margin-bottom: 16px;
}

.ProjectCard .built-with {
  font-style: italic;
  margin-bottom: 20px;
}

@media (max-width: 850px) {
  .ProjectCard {
    grid-template-columns: 1fr;
  }

  .ProjectCard .text-wrapper {
    padding: 40px 20px;
  }
}