/*



body {
  color: var(--black);
}

.content {
  max-width: 56rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.5rem;
}

.content > h2:first-child {
  grid-column: 1 / span 4;
  font-size: 1.875rem;
  margin-bottom: 20px;
}



.btn {
  color: var(--ghost);
  font-size: 1rem;
  font-family: Inter;
  font-weight: 500;
  text-decoration: none;
  line-height: 165%;
  width: 100%;
  background-color: var(--black);
  padding: 0.625rem 1.625rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.btn span {
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.btn:hover .icon {
  animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: solid 2px var(--silver);
}

@keyframes MoveUpInitial {
	to {
    transform: translate(105%, -105%);
	}
}

@keyframes MoveUpEnd {
	from {
		transform: translate(-100%,100%);
	}
	to {
		transform: translate(0,0);
	}
}

.btn-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn-row .btn {
  width: fit-content;
}

.TextInput label {
  position: absolute;
  transform: scaleY(0);
}

.TextInput input,
.TextInput textarea {
  color: var(--black);
  font-size: 1rem;
  font-family: Inter;
  font-weight: 500;
  line-height: 165%;
  display: block;
  width: 100%;
  background-color: var(--ghost);
  padding: 0.625rem 1.625rem;
  border: none;
  border-radius: 1rem;
}

.TextInput textarea {
  height: 8rem;
  resize: none;
}

.TextInput input:focus,
.TextInput textarea:focus {
  outline: solid 2px var(--silver);
}

.TextInput input::placeholder,
.TextInput textarea::placeholder {
  color: var(--silver);
  text-transform: capitalize;
}


@media (max-width: 850px) {
  .project {
    grid-template-columns: 1fr;
  }

  .project-text {
    order: 2;
  }

  .contact-text p {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .hero {
    padding-bottom: 6rem;
  }
  
  .projects {
    padding: 4rem 1rem;
  }

  .about {
    padding: 4rem 1rem;
  }

  .contact {
    padding: 4rem 1rem;
  }

  .contact .content {
    grid-template-columns: 1fr;
  }

  .contact .content > h2:first-child,
  .contact-form,
  .contact-text {
    grid-column: span 1;
  }

  .contact-form {
    order: 2;
  }

  .contact-text {
    margin-bottom: 2rem;
  }

  .footer {
    padding: 6rem 1rem;
  }
}

@media (max-width: 500px) {
  .footer-text {
    grid-column: 1 / span 4;
  }
}

*/